html {
    font-size: 14px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
    font-family: 'Raleway', sans-serif; /*font-family просто означает, какой шрифт(ы) вы хотите использовать для вашего текста */
    background-color: #8E8D8A;
  }
  h1 {
    font-size: 80px;
    text-align: center; /* означает расположение на сайте выбранного текста */
    margin: 0;
    padding: 40px 0;
    color: #E85A4F;    ;
    text-shadow: 3px 3px 1px black;
  }
  
  p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px; /* Расстояние между буквами*/
  }
  body {
    width: 600px; /*заставляет тело быть всегда 600 пикселей в ширину*/
    margin: 0 auto; /* первое значение элемента влияет на верхнюю и нижнюю сторону (делает их 0 в данном случае), и второе значение на левую и правую сторону (здесь, auto является особым значением, которое делит доступное пространство по горизонтали поровну слева и справа)*/
    background-color: #D8C3A5; /* устанавливает цвет фона элемента */
    padding: 0 20px 20px 20px; /*Значения устанавливаются сверху, справа, снизу, слева, в таком порядке*/
    border: 10px solid black; /* устанавливает сплошную чёрную рамку шириной 5 пикселей со всех сторон тела */
  }
  img {
    display: block;
    margin: 0 auto;
    width: 400px;
  }
  